.place-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 152px 460px auto;

  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

.place-grid__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: bold;

  margin: 0;
  max-width: 460px;
}

.place-grid__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-size: 18px;
  line-height: 22px;

  max-width: 456px;
  margin: 0;
}

.place-grid__span-title {
  font-size: 12px;
  color: #aaa;
}

.place-grid__image {
  box-shadow: 10px 10px 25px black;

  width: 100%;
  max-width: 460px;
}

.place-grid__image:hover {
  filter: brightness(0.5);
}

.place-grid__parrafos {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 25px;

  grid-column: 2 / 3;
  grid-row: 2 / -1;
}

.place-grid__parrafo {
  font-size: 18px;
  line-height: 163%;

  max-width: 484px;
  margin: 0;
}

.place-grid__button {
  position: relative;
  overflow: hidden;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding: 13px 20px;

  width: 289px;
  height: 48px;
  border: none;
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px black;

  background-image: linear-gradient(to right, #0278fe, #003a7b);
  z-index: 0;
  display: inline-block;
}

.place-grid__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  z-index: -1;
}

.place-grid__button:hover::after {
  background-color: rgba(0, 0, 0, 0.5);
}
